body{
  background-image: url(../img/kindajean.png);
}

h1{
color: #E7D5E2;
font-size: 25px;
font-family: 'Consolas', monospace;;
float: left;
padding: 2px;
margin-top: 10px;
margin-left: 20px;
height: 30 px;
width: 40%;
text-shadow: 1px 1px 2px yellow;
}

h2{
  color: red;
  text-shadow: 2px 2px 2px yellow;
  text-align: center;
}

h3{
color: blue;
font-size: 25px;
text-align:left;
margin-left: 100px;
margin-right: 100px;
margin-top: 50px;
padding-left: 2px;
border-left: 5px solid gray;
}



a span{
color: yellow;
font-size: 30px;
}

p{
text-align:center;
padding-left: 150px;
padding-right: 150px;
padding-top: 2px;
font-size: 20px;
font-family: Courier, monospace;
}


.titulo{
background-color: #8726B3;
margin: 0px;
padding-left: 15px;
padding-top: 5px;
height: 80px;
}

.logo{
width: 60px;
height: 65px;
float: left;
}

.tit{
float: right;
text-align: right;
width: 50%;
margin: 10px;
margin-right: 15px;
padding: 0px;
}

.foto{
text-align: center;
}

.foto img{
border-radius: 50%;
width: 220px;
height: 300px;
opacity: 0.85;
}

.menu{
background-color: #09124A;
border-top: 2px solid gray;
border-bottom: 2px solid gray;
margin-top: 0px;
opacity: 0.85;
}

.menu ul{
padding: 0px;
margin: 0px;
text-align: center;
}

.opciones ul li{
padding: px;
margin-left: 100px;
margin-right: 100px;
margin-top: 10px;
text-align: justify;
font-size: 18px;
font-family: Georgia, "Times New Roman", serif;
}

.menu ul li {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font: normal 25px "Palatino Linotype",serif;
  text-shadow: 1px 1px 2px blue;
}

.menu ul li a:link,
.menu ul li a:active,
.menu ul li a:visited
{
  color: white;
}

.menu ul li a:hover {
color: blue;
}

.cuentos{
margin-top: 0px;
}

.cuentos ul{
padding: 0px;
margin: 0px;
text-align: center;
}

.cuentos ul li {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  height: 350px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0px 0px 10px blue;

}

.cuentos ul li a{
font-size: 20px;
color: red;
text-shadow: 5px 5px 5px yellow;
}


.cuentos ul li a img{
  height: 700px;
  width: 250px;
  }

.cuentos ul li a img:hover{
margin-top: -350px;
}

.imagen_misterio{
text-align: center;
}

.imagen_misterio img{
height: 300px;
width: 200px;
box-shadow: 0px 0px 15px gray;
}

.imagen_leon{
text-align: center;
}

.imagen_leon img{
height: 200px;
width: 300px;
border-radius: 5%;
box-shadow: 0px 0px 15px red;
}

.imagen_pozo{
text-align: center;
}

.imagen_pozo img{
height: 250px;
width: 400px;
box-shadow: 0px 0px 25px red;
border-radius: 2%;
}

.lectura{
padding: 2px;
padding-right: 100px;
padding-left: 100px;
text-align: justify;
font-size: 18px;
font-family: Georgia, "Times New Roman", serif;
}

.gale{
padding-top: 10px;
padding-right: 100px;
padding-left: 100px;
}

.gale ul lo img{
margin: 10px;
border: 1px solid red;
}

.ff{
padding-right: 50px;
padding-top: 20px;
}

.pre_c{
font-size: 13px;
}

.codigo{
margin-left: 120px;
padding-left: 20px;
padding-top: 20px;
margin-right: 150px;
font-size: 14px;
color: blue;
border: 1px solid yellow;
background-color: white;

}


#disqus_thread{
  padding-right: 100px;
  padding-left: 100px;
}




.bitacoras{
margin-top: 0px;
}

.bitacoras ul{
padding: 0px;
margin: 0px;
text-align: center;
}

.bitacoras ul li {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  height: 350px;
  width: 250px;
  overflow: hidden;

}

.bitacoras ul li a{
font-size: 20px;
color: red;
text-shadow: 5px 5px 5px yellow;
}


.bitacoras ul li a img{
  height: 700px;
  width: 250px;
  }

.bitacoras ul li a img:hover{
margin-top: -350px;
box-shadow: 0px 0px 10px blue;
}

table{
  margin: 50px;
  margin-right: 120px;
  margin-left: 120px;
  text-align: justify;
  border: 2px solid gray;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", serif;
  }

table tr td{
padding: 15px;
border: 2px solid gray;
}
  .col1{
  font-size: 35px;
  color: blue;
  margin: 10px;
  padding-left: 15px;
  padding-top: 20px;
  border: 3px solid yellow;
  float: left;
  height: 240px;
  width: 500px;
  }

  .col1 ul li{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", serif;
    color: blue;
    padding-top: 10px;
  }

  .col2{
  margin: 5x;
  padding-top: 12px;
  float: right;
  }

  .col2 img{
    height: 260px;
    width: 500px;
  }

  .columnas{
    float: letf;;
    margin: 50px;
    margin-right: 120px;
    margin-left: 120px;
    padding: 0px;
    height: 320px;
    width: 82%;
    }

.vid{
margin-top: 30px;
text-align: center;
}
